#header { margin:10px 0 0 0; min-width:960px; max-width:100%; height:200px; 
background-color:blue; background:linear-gradient(top, #00FFFF, #000080); background:-moz-linear-gradient(top, #00FFFF, #000080); background:-webkit-linear-gradient(top, #00FFFF, #000080);
background:-o-linear-gradient(top, #00FFFF, #000080); background:-ms-linear-gradient(top, #00FFFF, #000080);
padding:0; color:navy;
}
#logo{position:fixed; top:20px; right:40%;}
h1 {position:relative; top:20%; font-size:300%; color:navy; margin:auto 0 auto 20px; text-shadow: 3px 3px 3px #888; transform:perspective(200px) rotateX(10deg) rotateY(20deg) rotateZ(5deg);
width: 487px;
}
#statistika{background-color:white; font-style:bold; text-align:center; border-radius:20%; box-shadow:3px 3px 3px #888; position:relative; top: 25%; left:40%}
#home{background-color:white; font-style:bold; text-align:center; border-radius:20%; box-shadow:3px 3px 3px #888; position:relative; top: 25%; left:40%}